################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/JwtSignFinal/FileContentIndex/1eb1cf0f-5dc2-4621-a130-01012c4be697.vsidx
/.vs/JwtSignFinal/FileContentIndex/c55329ab-1380-4705-b8a8-5e349773d1b6.vsidx
/.vs/JwtSignFinal/FileContentIndex/f18f0051-87cf-4b18-aa5d-30d6478c1f7b.vsidx
/.vs/JwtSignFinal/FileContentIndex/ae234e93-1549-45c1-9ea0-234b5ceb9455.vsidx
/.vs/JwtSignFinal/FileContentIndex/26fab55b-c2ce-49b6-af71-a82dc0330e6e.vsidx
